.main, footer {
    position: relative;
    top: 150px;
}
body {
    background-color: #415251;
    margin: 0;
    padding: 0;
}

#line {
    height: 1px;
    background-color: #16161D;
}

#theQuiz {
    display: none;
}

#hint1, #checkOne,
#hint2, #checkTwo,
#hint3, #checkThree,
#hint4, #checkFour,
#hint5, #checkFiveA,
#checkFiveB {
    display: none;
}