body {
    margin: 0;
    padding: 0;
    background-color: #2b576b;
}

.main {
    position: relative;
    top: 150px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectOne {
    height: 75vh;
}

#sectionOneImage {
    background-image: url("../images/hotel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#weather-widget {
    position: relative;
    width: 200px;
    height: 200px;
}
