body {
    margin: 0;
    padding: 0;
    background-color: #65A46D;
}

.main {
    position: relative;
    top: 150px;
}

#sectOne {
    height: 75vh;
}

#sectionOneImage {
    background-image: url("../images/hotel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#image {
    opacity: 0.7;
}

#weather-widget {
    position: relative;
    width: 200px;
    height: 200px;
}
